@import "./nav.css";

.chessgame {
  height: 500px;
  width: 500px;
}
.image-container {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.featured-projects-container {
  display: flex;
  flex-direction: column;
}
.github {
  width: 2%;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(#312e2b, #4b4847);
}
.caption {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 70px;
}
.main {
  display: flex;
  flex-direction: row;
}
.bio-container {
  color: white;
}
.text{
  color: white
}
.row {
	display: flex;
	justify-content: space-between
}

.column {
	margin: 10px;
}